NEXT_PUBLIC_BIRDEYE_API_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_BASE_CHAIN_ID=8453
NEXT_PUBLIC_DEGENDNA_CONTRACT_ADDRESS=0x53941397A07d3990DE3b6930D6F393b8CECC815D

# Foundry deployment
PRIVATE_KEY=
MINT_PRICE=1000000000000000
